/* Responsividade */

/* Telas pequenas (máximo de 480px) */
@media screen and (max-width: 480px) {
    .login-page {
        width: 90%;
        top: 30%; /* Ajuste para um pouco mais abaixo */
        left: 5%;
        padding: 15px;
    }

    .matricula,
    .senha {
        width:  70%;
        font-size: 14px;
    }

    #login-button {
        width: 50%;
        font-size: 16px;
        padding: 10px;
    }

    #themeIcon {
        width: 50px;
        height: 50px;
    }
    .tcc-fogo-logo {
        top: 20%;        
        width: 200px;
        height: 200px;
    }
}

/* Telas médias (481px a 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .login-page {
        width: 70%;
        top: 30%; /* Ajuste para um pouco mais abaixo */
        left: 15%;
        padding: 20px;
    }

    .matricula,
    .senha {
        width: 70%;
        font-size: 16px;
    }

    #login-button {
        width: 50%;
        font-size: 18px;
    }
    #themeIcon {
        width: 40px;
        height: 40px;
    }
    #butto-theme {
        width: 20px;
    }
    .tcc-fogo-logo {
        top: 15%;
        width: 200px;
        height: 200px;
    }
}

/* Telas grandes (768px a 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login-page {
        width: 60%;
        top: 30%; /* Ajuste para um pouco mais abaixo */
        left: 19%;
    }

    .matricula,
    .senha {
        width: 60%;
    }

    #login-button {
        width: 45%;
    }
    #themeIcon {
        width: 50px;
        height: 50px;
    }
    .tcc-fogo-logo {
        top: 15%;       
        width: 300px;
        height: 300px;
        left: auto 0;
    }
}

/* Telas extra grandes (acima de 1024px) */
@media screen and (min-width: 1024px) {
    .login-page {
        top: 30%; /* Ajuste para um pouco mais abaixo */
    }
    .matricula,
    .senha {
        width: 60%;
    }
    #login-button {
        width: 45%;
    }
    .tcc-fogo-logo {  
        width: 260px;
        height: 260px;
        top: 15%;
    }
    #themeIcon {
        width: 50px;  /* Aumentei a largura da bolinha */
        height: 50px; /* Aumentei a altura da bolinha */
    }
}
