body {
    background-color: #1a1a2E;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}
* {
    box-sizing: border-box;
}
.login-page {
    width: 30%;
    padding: 20px;
    position: absolute;
    background-color: #26263f;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0b0b2b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header,
.login {
    /*border: 2px solid orange;*/
    text-align: center;
    align-items: center;
}
.matricula,
.senha {
    width: 60%;
    height: 40px;
    border-radius: 20px;
}

#matricula {
    padding-left: 5px;
}

.matricula,
.senha {
    display: flex;
    flex-flow: row wrap;
    margin: 10px auto 10px auto;
    border-color: #dc143c;
    border-width: 4px;
    border-radius: 20px;
    border-style: solid;
    text-align: left;
    background-color: #1a1a2E;
}
.form {
    margin-bottom: 20px;
}

.material-symbols-outlined {
    width: 12%;
    height: 100%;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #1a1a2E;
    color:#5b5a5a;
}
#matricula,
#senha {
    width: 60%;
    background: #1a1a2E;
    border: 0;
    border-radius: 20px;
    outline: none;
    color: white;
}
#login-button {
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    background-color: #dc143c;
    cursor: pointer;
}

#login-button:hover {
    background-color: #fa0636bd;
}


#img {
    height: 50px;
    width: 50px;
}
.senha {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px auto;
    border: 4px solid crimson;
    border-radius: 20px;
    background-color: #1a1a2E;
}
.senha input {
    width: 85%;
    background: #1a1a2E;
    border: none;
    outline: none;
    color: white;
    padding-left: 5px;
    font-size: 16px;
    margin-left: 5px;
}

.senha .toggle-password {
    cursor: pointer;
    color:#5b5a5a;
    padding: 0 20px;
}

.senha .toggle-password i {
    font-size: 25px;
}
.matricula input {
    font-size: 16px;
    margin-left: 5px
}

#butto-theme {
    width: 30px;
}

#themeIcon {
    background-color: #4141454f;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
    /* Alterado para deixar a bolinha mais quadrada */
    border-radius: 15px; /* Ajuste para bordas mais quadradas */
    border: 3px solid #dc143c;
    cursor: pointer;
    /* Centraliza o ícone dentro da bolinha */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

#themeIcon:hover {
    background-color: #2121274f;
}

#themeIcon .material-symbols-outlined {
    font-size: 20px;
    color: white;
}

.iconUser {
    height: 30px;
}

.iconPassword {
    height: 30px;
}

.tcc-fogo-logo {
    width: 220x;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 10%;
    filter: drop-shadow(5px 10px 3px black);
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
}
#alert {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
